<td style="text-align: center; background-color: {% if module_activity == "F" %}#ffc0c0{% elif module_activity == "NP" %}#b0b0b0{% else %}#90ff90{% endif %}" id="tr-user-{{ user.id }}-module-{{ module_index }}">
    <div class="w3-content" style="margin: 0; padding: 0">
        <div class="w3-row" style="margin: 0; padding: 0">
            <a target="_blank"
               href="{{ aulas[module_index - 1] }}{{ user.username }}">
                <button type="button" style="padding:10px; background-color: #0069a1; margin:0; width: 100%">Módulo {{ module_index }}</button>
            </a>
        </div>
        {% if user.solicited_certificate %}
            <div class="w3-row" style="margin: 0; padding: 0">
                {% if module_activity != "T" %}<div class="w3-half"><button hx-get="{{ url_for('approve_certification', user=user.username, module_activity=module_index) }}" hx-swap="outerHTML" hx-target="#tr-user-{{ user.id }}-module-{{ module_index }}" type="button" style="padding:5px; background-color: #009000; margin:0; width: 100%;" value="Sim">✔</button></div>{% endif %}
                {% if module_activity != "F" %}<div class="w3-half"><a href="{{ url_for('deny_certification', user=user.username, module_activity=module_index) }}"><button type="button" value="Não" style="padding:10px; background-color: #c90000; margin:0; width:100%">✘</button></a></div>{% endif %}
                {% if module_activity != "NP" or not module_activity %}<div class="w3-half"><a href="{{ url_for('reset_certification', user=user.username, module_activity=module_index) }}"><button type="button" value="Cancelar" style="padding:10px; background-color: #707070; margin:0; width:100%">🛇</button></a></div>{% endif %}
            </div>
        {% endif %}
        <div id="timestamps-{{user.id}}-module-{{module_index}}"></div>
    </div>
</td>
