{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}Certificado{% endblock %}
{% block content %}
    <div class="w3-container" style="text-align: center; padding:0">
        <div class="w3-container"
             style="height:200px; overflow:hidden; padding:0; position: relative; margin-bottom: 30px">
            <img width="100%" src="{{ url_for('static', filename='A_los_derechos_humanos.jpg') }}">
            <div class="w3-quarter"></div>
            <div class="w3-half" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        font-size:150%; color:white; font-family:'Linux Libertine';
                        background: rgba(0, 104, 163, 0.9); padding: 10px; border-radius: 5px">
                <b>INTRODUÇÃO AO JORNALISMO CIENTÍFICO</b>
            </div>
        </div>
        <div class="w3-container" style="text-align: center; padding:0">
            <div class="w3-row" style="margin-bottom: 15px">
                <div class="w3-container">
                    {% if coordinator %}
                        <div class="w3-row">
                            <div class="w3-quarter">&nbsp;</div>
                            <div class="w3-half">
                                <a href="{{ url_for('certificate_only_requested') }}">
                                    <button type="button" style="padding:10px; background-color: #05224e; margin:0 0 1em 0; width: 100%">Ver somente atividades de quem requisitou certificado</button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <table>
                        <thead>
                        <tr>
                            <th>Nome de usuário(a)</th>
                            <th>Nome completo</th>
                            {% if coordinator %}
                            <th>Inscrição<br><small>na plataforma</small></th>
                            {% endif %}
                            <th colspan="6">Atividades</th>
                            {% if not coordinator %}
                                <th>Emitir certificado</th>
                            {% else %}
                                <th>Pode emitir certificado?</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr id="tr-user-{{ user.id }}">
                                    <td style="width:0"><a target="_blank" href="https://pt.wikiversity.org/wiki/User_talk:{{ user.username }}">{{ user.username }}</a></td>
                                    <td style="width:0">{{ user.full_name }}</td>
                                    {% if coordinator %}
                                    <td style="width:0">{{ user.date_created.date() }}
                                    <button hx-get="/certificate/module_timestamps/{{user.username}}" hx-swap="outerHTML" type="button" style="padding:5px; background-color: #0069a1; margin:0; width: 100%; font-size: smaller">Timestamps</button>
                                    </td>
                                    {% endif %}
                                    {% if coordinator %}
                                        {% for module_activity in user.can_download_certificate.split(";") %}
                                        {% with module_index=loop.index %}
                                            {% include 'certificate_module_cell_coordinator.html' %}
                                        {% endwith %}
                                        {% endfor %}
                                    {% else %}
                                        {% for module_activity in user.can_download_certificate.split(";") %}
                                            <td style="text-align: center; background-color: {% if module_activity == "F" %}#ffc0c0{% elif module_activity == "NP" %}#b0b0b0{% else %}#90ff90{% endif %}">
                                                <a target="_blank" title="{% if module_activity == "F" %}Esta atividade ainda precisa ser aprovada{% else %}Esta atividade foi aprovada{% endif %}"
                                                       href="{{ aulas[loop.index - 1] }}{{ user.username }}">
                                                    <button type="button" style="padding:10px; background-color: #0069a1; width: 100%">Módulo {{ loop.index }}</button>
                                                </a>
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                    {% if not coordinator %}
                                        <td style="text-align: center">
                                            {% if can_download_certificate %}
                                                <a href="{{ url_for('generate_certificate') }}">
                                                    <button type="button" style="padding:10px; background-color: #009000; width: 100%">
                                                        Certificado
                                                    </button>
                                                </a>
                                            {% elif not user.solicited_certificate %}
                                                <a href="{{ url_for('solicit_certificate') }}">
                                                    <button type="button" style="padding:10px; background-color: #009000; width: 100%">
                                                        Solicitar certificado
                                                    </button>
                                                </a>
                                            {% else %}
                                                <button type="button" style="padding:10px; background-color: #f5c925; color:black; width: 100%">
                                                    Certificado solicitado
                                                </button>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        {% if user.solicited_certificate %}
                                            <td style="text-align: center">
                                                <button type="button" hx-get="{{ url_for('deny_solicitation_for_certificate', user_username=user.username) }}" hx-swap="outerHTML" hx-target="#tr-user-{{ user.id }}" hx-select="#tr-user-{{ user.id }}" value="Não" style="padding:10px; background-color: #ff9000; color:black; width: 100%">
                                                    Arquivar solicitação
                                                </button>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center">
                                                <button type="button" value="Não" style="padding:10px; background-color: #909090; color:#090909; width: 100%">
                                                    Não solicitado/<br>Não necessário
                                                </button>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
