{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}Edições na Wikipédia - {{username}}{% endblock %}
{% block content %}
    <div class="w3-container" style="text-align: center; padding:0">
        <div class="w3-container"
             style="height:200px; overflow:hidden; padding:0; position: relative; margin-bottom: 30px">
            <img width="100%" src="{{ url_for('static', filename='A_los_derechos_humanos.jpg') }}">
            <div class="w3-quarter"></div>
            <div class="w3-half" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        font-size:150%; color:white; font-family:'Linux Libertine';
                        background: rgba(0, 104, 163, 0.9); padding: 10px; border-radius: 5px">
                <b>INTRODUÇÃO AO JORNALISMO CIENTÍFICO</b>
            </div>
        </div>
        <div class="w3-container" style="text-align: center; padding:0">
            <div class="w3-row" style="margin-bottom: 15px">
                <div class="w3-container">
                    <div class="w3-row" {% if total_reached %}style="color: green;"{% endif %}>
                        <h3> Total de caracters: {{ total_diff }} </h3>
                        <h2> Acima de 15 mil? {% if total_reached %}<b>Sim</b>{% else %}Não{% endif %}</h2>
                    </div>
                    <p>São contabilizadas todas edições no Domínio Principal com um número positivo de caracteres adicionados.</p>
                    <table>
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Artigo editado</th>
                            <th>Edição contabilizada?</th>
                            <th>Caracteres</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for edit in edits %}
                                <tr {% if not edit.ignored %}style="font-weight: bold;"{% endif %}>
                                    <td><a target="_blank" href="https://pt.wikipedia.org/wiki/Especial:Diff/{{ edit.revid }}">{{ edit.timestamp }}</a></td>
                                    <td>{{ edit.title }}</td>
                                    <td>{% if edit.ignored == "namespace" %}Não é edição no Domínio Principal{% elif edit.ignored == "reverted" %}Edição revertida{% elif edit.ignored == "sizediff %"}Quantidade negativa{% else %}Contabilizada{% endif %}</td>
                                    <td {% if not edit.ignored %}style="color: green;"{% endif %}>{{ edit.sizediff }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
